apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: gagos

resources:
  - namespace.yaml
  - rbac.yaml
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app.kubernetes.io/name: gagos
  app.kubernetes.io/component: server
