apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gagos-data
  namespace: gagos
  labels:
    app: gagos
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
