apiVersion: v1
kind: Service
metadata:
  name: gagos
  namespace: gagos
  labels:
    app: gagos
spec:
  type: NodePort
  ports:
    - name: http
      port: 8080
      targetPort: http
      nodePort: 30880
      protocol: TCP
  selector:
    app: gagos
